@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

html {
  font-size: 15px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-align: left;
  scroll-behavior: smooth;
  background-color: #FFF;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  display: block;
  width: 100%;
}

input {
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

label > input {
  width: 100%;
}

label > span {
	margin-right: 0.5rem;
}

p {
  line-height: 1.3rem;
}

a {
  color: #008A25;
}

div {
  transition: all 0.5s;
}

.container {
  padding: 4rem;
  margin: auto;
  max-width: 1280px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.col-3 {
  grid-column: span 3;
}

.col-9 {
  grid-column: span 9;
}

.mt-2 {
  margin-top: 2rem;
}

@media screen and (max-width: 576px) {
  .sm-12 {
    grid-column: span 12
  }
  .container {
    padding: 2rem 2rem;
  }
}